<div>
<!--<form action='/students' method ="POST">-->
<p>
<label for="name">Name:</label>
<input type="text" name="stud[name]" align="center" value=<%=@stud.name%>>
<br>
<label for="studid">Student ID:</label>
<input type="number" name="stud[studid]" align="center" value=<%=@stud.studid%>>
<br>
<label for="category">Category(Grad/undergrad):</label>
<input type="text" name="stud[category]" value=<%=@stud.category%>>
<br>
<label for="major">Major:</label>
<input type="text" name="stud[major]" value=<%=@stud.major%>>
<br>
<label</label><input type="submit" value="Save" style="float:bottom">
</p>
</form>
</div>





















